# Task 2
A'zra Zulaikha Binti Zainol
P137262

In [1]:
class BankAccount():
    def __init__(self, username, full_name, ic_number, city, telephone_number, initial_saving):
        self.username = username
        self.full_name = full_name
        self.ic_number = ic_number
        self.city = city
        self.telephone_number = telephone_number
        self.balance = initial_saving
        self.active = True

    def deposit_money(self, amount):
        self.balance += amount
        return "Deposited: RM " + str(amount) + ". New balance: RM " + str(self.balance) + "."

    def withdraw_money(self, amount):
        if self.balance - amount >= 20:
            self.balance -= amount
            return "Withdrew: RM " + str(amount) + ". New balance: RM " + str(self.balance) + "."
        else:
            return "Insufficient funds. Minimum balance must be RM 20."

    def check_balance(self):
        return (self.full_name) + "'s current balance: RM " + str(self.balance) + "."

    def close_account(self):
        self.balance = 0
        self.active = False
        return "Account closed."

In [2]:
class ChildAccount(BankAccount):
    def __init__(self, username, full_name, ic_number, city, telephone_number, initial_saving, parent):
        super().__init__(username, full_name, ic_number, city, telephone_number, initial_saving)
        self.parent = parent

### Parent account instances:

In [3]:
parent1 = BankAccount("SarahAthirah123", "Sarah Athirah", "921230101010", "Ipoh", "0192223334", 45)
parent2 = BankAccount("syediman90", "Syed Iman Alif", "700304100911", "Kuala Lumpur", "0112348769", 1200)
parent3 = BankAccount("aminima", "Muhd Amin", "810923109777", "Bangi", "0163482694", 2500)
parent4 = BankAccount("sinsinthyiaa", "Sinthyia Suresh", "780901064548", "Kuala Kangsar", "0121984081", 500)
parent5 = BankAccount("vera_christoph", "Vera Carol", "971029020406", "Miri", "0170846819", 800)

### Child account instances:

In [4]:
child1 = ChildAccount("izzaaatttiii", "Iffah Izzati", "130331105552", "Bangi", "0194385694", 54, "Sarah Athirah")
child2 = ChildAccount("sulaiman_mohd", "Mohd Sulaiman", "100606103301", "Kuala Lumpur", "0111630361", 39, "Syed Iman Alif")
child3 = ChildAccount("kamilabdul", "Abdul Kamil", "150325105577", "Bangi", "0163482694", 200, "Muhd Amin")
child4 = ChildAccount("pave_theran", "Pavetheran", "060717101089", "Kuala Kangsar", "0183472895", 300, "Sinthyia Suresh")
child5 = ChildAccount("annywang", "Anny Carol", "170727088458", "Miri", "0174581038", 20, "Vera Carol")

### check account balance in parent accounts

In [5]:
print(parent1.check_balance())
print(parent2.check_balance())
print(parent3.check_balance())
print(parent4.check_balance())
print(parent5.check_balance())

Sarah Athirah's current balance: RM 45.
Syed Iman Alif's current balance: RM 1200.
Muhd Amin's current balance: RM 2500.
Sinthyia Suresh's current balance: RM 500.
Vera Carol's current balance: RM 800.

### check account balance in child accounts

In [6]:
print(child1.check_balance())
print(child2.check_balance())
print(child3.check_balance())
print(child4.check_balance())
print(child5.check_balance())

Iffah Izzati's current balance: RM 54.
Mohd Sulaiman's current balance: RM 39.
Abdul Kamil's current balance: RM 200.
Pavetheran's current balance: RM 300.
Anny Carol's current balance: RM 20.

### Apply methods in no. (4) to parent accounts

In [7]:
print(parent1.deposit_money(1000))
print(parent1.withdraw_money(1400))
print(parent1.close_account())
print(parent1.check_balance())
print(parent1.active)

Deposited: RM 1000. New balance: RM 1045.
Insufficient funds. Minimum balance must be RM 20.
Account closed.
Sarah Athirah's current balance: RM 0.
False

In [8]:
print(parent2.withdraw_money(1000))
print(parent2.active)

Withdrew: RM 1000. New balance: RM 200.
True

In [9]:
print(parent3.check_balance())
print(parent3.withdraw_money(2400))

Muhd Amin's current balance: RM 2500.
Withdrew: RM 2400. New balance: RM 100.

In [10]:
print(parent4.deposit_money(2000))
print(parent4.check_balance())

Deposited: RM 2000. New balance: RM 2500.
Sinthyia Suresh's current balance: RM 2500.

In [11]:
print(parent5.check_balance())
print(parent5.username)
print(parent5.close_account())
print(parent5.active)

Vera Carol's current balance: RM 800.
vera_christoph
Account closed.
False

### Apply methods in no. (4) to child accounts

In [12]:
print("Parent: " + str(child1.parent))
print("Child: " + str(child1.full_name))
print(child1.withdraw_money(20))
print(child1.close_account())
print(child1.active)

Parent: Sarah Athirah
Child: Iffah Izzati
Withdrew: RM 20. New balance: RM 34.
Account closed.
False

In [13]:
print("Parent: " + str(child2.parent) + "\nChild: " + str(child2.full_name))
print(child2.withdraw_money(20))
print(child2.deposit_money(300))

Parent: Syed Iman Alif
Child: Mohd Sulaiman
Insufficient funds. Minimum balance must be RM 20.
Deposited: RM 300. New balance: RM 339.

In [14]:
print("Parent: " + str(child3.parent) + "\nChild: " + str(child3.full_name))
print(child3.check_balance())
print(child3.active)
print(child3.withdraw_money(50))

Parent: Muhd Amin
Child: Abdul Kamil
Abdul Kamil's current balance: RM 200.
True
Withdrew: RM 50. New balance: RM 150.

In [15]:
print("Parent: " + str(child4.parent) + "\nChild: " + str(child4.full_name))
print(child4.check_balance())
print(child4.deposit_money(249))

Parent: Sinthyia Suresh
Child: Pavetheran
Pavetheran's current balance: RM 300.
Deposited: RM 249. New balance: RM 549.

In [16]:
print("Parent: " + str(child5.parent) + "\nChild: " + str(child5.full_name))
print(child5.active)
print(child5.close_account())
print(child5.active)

Parent: Vera Carol
Child: Anny Carol
True
Account closed.
False